*{/*initialise le total du*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;/*rend la transformation lors du scroll plus rapide*/
}
body {
    background-color: rgb(255, 255, 255);/*choisis la couleur comme fond pour le fond comme celle là*/
    font-family: 'Merriweather', serif;/*choisis comme texte*/
}
header {
    background-color: rgb(3, 3, 95);/*choisis la couleur comme fond pour le menu de navigation*/
}



li {
    list-style: none;/*enlève tout les décoration de base pour toutes listes*/
}
h1{
    margin: 20px;
    position: relative;
}
h2{
    margin: 18px;
}
h3{
    margin: 10px;
}
p{
    margin: 12px;
}

a { 
    color: blanchedalmond;
    text-decoration: none;/*enlève tout les décoration de base sur les boutons qui sont enlevés*/
}
.container{
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
  }

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}


.nav-link {
    transition: 1s ease;
}

.nav-link:hover {
    color: red;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: antiquewhite;
}

.table-of-contents{
    background-color: gray;
    display: flex;
    width: 100px;
    position: fixed;
}

.tab-link:hover{
    transition: 1s ease;
    color: blue;
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        /*position: fixed;*/
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:  #1f1e1e;
        width: 100%;
        text-align:  center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}
#logo {
    width: 50px;
    height: 50px;
}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }
  /*
  h1 {
    position: relative;
    font-size: 5rem;
  }*/
  
  
  
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }

.grid{
    display: grid;/*choisie d’utiliser le système d’affichage grid*/
    grid-gap: 30px;/*met une séparation de 30px entre les éléments de grid*/
    grid-template-columns: 5fr 4fr 3fr;
    grid-template-rows: 200px;
}


b{
    color: beige;/*choisis la couleur pour le texte comme beige*/
    background-color: #1f1e1e;/*choisis la couleur comme fond pour les parties nommées "b"*/
    margin: 50px;/*choisis que la séparation entre deux parties comme divisée par 50px*/
    padding: 20px;/*choisis que le block b a 20px tout autour du texte affiché*/
    border-radius: 10px;
    gap: 50px;
    padding: 70px; 
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
}
#phoneicon{
    width: 40px;
    height: 40px;
}