*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;

}
body{
    background-color: #d2d2d2;
}
header {
    background-color: #4a4a4a;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
    position: relative;
}

p {
    font-size: 22px;
    font-family: 'Merriweather', serif;
    text-align: justify;
    margin: 10px 30px 20px 20px;
}


.container{
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
  }

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100% ;
    padding: 5%;

}
.nav-branding {
    font-size: 2rem;
}


.nav-link {
    transition: all 0.7s ease;
    color: blanchedalmond;
    font-family: 'Unbounded', cursive;
    font-size: 20px;
}

.nav-item a:hover {
    color: red;
}


.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: antiquewhite;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:  #868aaa;
        width: 100%;
        text-align:  center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

@keyframes apparitionSousMenu {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  
.nav-item:hover .sous-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    border-color: white ;
    animation: apparitionSousMenu 3s ease-out;
}


.sous-menu {
    display: none;
    
}

.sous-menu ul li{
    width: 150%;
    padding: 10px;
    display: block;
    margin: 10px;

}
.sous-menu li a{
    background-color: #4a4a4a;
    color: white;
    font-size: 15px;
    font-family: 'Unbounded', cursive; 
    transition: all 0.3s;   
}   

.sous-menu li:hover a {
    background-color: #4a4a4a;
    color: red;
}
#Sommaire {
    background: rgb(238, 224, 224);
    width: 45%; 
    margin: 40px 10px 50px 30px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863);
    font-size: 30px;
}

#Titre {
    color : rgb(3, 3, 95);
    text-align: center;
    font-size: 65px;
    font-family: 'Unbounded', cursive;
    margin-top: 30px;
}

#Napoleonphoto {  
    float: right;
    display: block;
    width: 52%;
    margin: 20px 10px 0px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863);
}
#logo {
    width: 50px;
    height: 50px;
}
#maisonnapoléon{
    float: left;
    display: block;
    width: 28%;
    margin: 0px 50px 20px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863)
}

#Enfance{
    color : rgb(3, 3, 95);
    text-align: center;
    font-size: 65px;
    font-family: 'Unbounded', cursive;
    margin-bottom: 50px;
}

#Exploits{
    color : rgb(3, 3, 95);
    text-align: center;
    font-size: 65px;
    font-family: 'Unbounded', cursive;
    margin-bottom: 50px;
}


#Napoléonjeune{
    float: right;
    display: block;
    width: 30%;
    margin: 0px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863);  
}

#Napoléontoulon {  
    float: left;
    display: block;
    width: 38%;
    margin: 50px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863);    
}

#Italie{
    color : rgb(3, 3, 95);
    text-align: center;
    font-size: 65px;
    font-family: 'Unbounded', cursive;
    margin:50px 0px 50px 0px;
}

#Napoléonitalie{
    float: right;
    display: block;
    width: 29%;
    margin: 0px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863); 
}

#Egypte{
    color : rgb(3, 3, 95);
    text-align: center;
    font-size: 65px;
    font-family: 'Unbounded', cursive;
    margin: 0px 0px 50px 0px;
}

#NapoléonEgypte{    
    float: left;
    display: block;
    width: 29%;
    margin: 0px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.863);
}

